{% extends "layout.html" %}
{% block title %}Add Reader{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
{% set docid = get_DOCID()%}
<div class="h4">Add Document</div>
    <form method="POST">
        {{ form.hidden_tag() }}
        <label for="DOCID">Document ID</label></br>
        <select id="DOCID" name="DOCID">
            {%for id in docid%}
            <option value="{{id}}">{{id}}</option>
            {% endfor %}
        </select></br>
        {{render_field(form.COPYNO)}}
        {{render_field(form.BID)}}
        {{render_field(form.POSITION)}}
        {{form.submit(class="btn btn-primary")}}
    </form>
</div>
{% endblock %}